<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    {{!-- <p>{{restaurant.Category.name}}</p> --}}
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>苦主:</strong> {{restaurant.party}}</li>
        <li><strong>事發時間:</strong> {{restaurant.date}}</li>
        {{!-- <li><strong>Tel:</strong> {{restaurant.tel}}</li> --}}
        <li><strong>事發地點:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h1>事件描述</h1>
    <p style="white-space: break-spaces;">{{restaurant.description}}</p>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">返回</a>